* {
    box-sizing: border-box;
} 

body {
	/*background-color: Beige;*/
	font-family: sans-serif;
	
}

header img {
	display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}

header h1 {
	display: inline-block;
	font-family: sans-serif;
	font-style: italic;
}

section {
	/*margin: auto;
    width: 80%;*/
    padding: 1em;
}

textarea {
	max-width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
}

input[type=text], input[type=email] {
	font-size: 1em;
	padding: 4px;
    margin: .5em 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=text].textInput, input[type=email] {
	width: 100%;
	
}

input[type=number] {
	width:50px;
	font-size: 1em;
	padding: 4px;
    margin: .5em 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
	font-size: 1em;
}

select.clientDropDown {
	margin: 0 0 .5em 0;
}

input[type=submit]{
	/*font-size: 1em;
	margin: .5em 0;*/
}


div.displayBlock{
	display: block;
	margin: .5em 0;
}

label {
	font-size: 1em;
}

input[type=text], input[type=number], input[type=email], select {
	/*width:100%;
    padding: 12px 20px;

    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 8px 0;
    font-size: 1em;*/
}
    /*
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}
    
input[type=submit]:hover {
    background-color: #45a049;
}*/

a.noLinkStyle:link {
    text-decoration: none;
    color: black;
}

/* visited link */
a.noLinkStyle:visited {
    text-decoration: none;
    color: black;
}

/* mouse over link */
a.noLinkStyle:hover {
    text-decoration: none;
}

/* selected link */
a.noLinkStyle:active {
    text-decoration: none;
}

ul.nav {
	font-family: sans-serif;
    list-style-type: none;
    margin: .5em 0 0 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.nav {
    float: left;
}

li.nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav a:hover {
    background-color: #111;
