* {
    box-sizing: border-box;
} 

body {
	font-family: sans-serif;
}

header {
	max-width: 1100px;
	margin: auto;
}

header img {
	display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}

header h1 {
	display: inline-block;
	/*font-family: sans-serif;*/
	font-style: italic;
}

p.sessionText {
	text-align: right;
	margin: 0;
	padding: 0 .5em 0 0;
}

section {
	margin: auto;
    padding: 1em 0;
    max-width: 1400px;
}

div.formStyle {
	margin: 1em 0;
	padding: 0.25em 1em 1.25em;
	border-radius: .5em;
	background-color: #f2f2f2;
	border: 2px solid dimgray;
}

div.overflow-x {
	overflow-x:auto;
}

div.displayInlineBlock {
	/*for update and delete buttons*/
	display: inline-block;
}

div.fieldWrapper{
	margin: .5em 0;
}

textarea {
	max-width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 1em;
}

label {
	font-size: 1em;
}

label.zipCode {
	display: block;
}

input[type=text], input[type=email], input[type=password], input[type=number] {
	font-size: 1em;
	padding: 4px;
    margin: .5em 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

input[type=text].zipCode {
	width: 5em;
}

input[type=text]#HomePhoneNumber, input[type=text]#CellPhoneNumber {
	display: block;
	width: 9em;
}

input[type=text].dateTextLength {
	width: 6em;
}

input[type=number] {
	width:50px;
}
/*for age in table*/
input[type=number].rightLeftMargin {
	margin: 0 .5em;
}

select {
	font-size: 1em;
	margin: 0 .5em;
}

select.clientDropDown {
	margin: 0 0 .5em 0;
}

input[type=submit]{
	font-size: 1em;
	padding: .1em 0;
	margin: .25em;
}

@media only screen and (min-width: 768px) {

div.fieldWrapper {
	display: inline-block;
	width: 30%;
	padding: 0 1em 0 0;
/*border: 1px solid #ccc;*/
}
/*
div.fieldWrapper.checkBox {
	width: 20%;
}*/

div.fieldWrapper#divFirstName {
	width: 19%;
}

div.fieldWrapper#divLastName {
	width: 20%;
}

div#divPregnant {
	width: 7em;
}

div#divAddressVerified {
	width: 10em;
	padding: 0;
}

div.fieldWrapper#divAge {
	width: 5em;
}

div.fieldWrapper#gender {
	width: 10em;
}

div.fieldWrapper#divAddress {
	width: 25%;
}

div.fieldWrapper#divAddress2 {
	width: 15%;
}

div.fieldWrapper#zipCode {
	width: 60%;
}

div.fieldWrapper#divHomePhoneNumber {
	width: 20%;
}

div.fieldWrapper#divCellPhoneNumber {
	width: 20%;
}

input[type=text]#HomePhoneNumber, input[type=text]#CellPhoneNumber {
	display: inline;
}

div#divFamilySize {
	width: 12em;
}

div#divChildrenNumber, div#divAdultsNumber  {
	width: 14em;
}

div#divAgeRange05, div#divAgeRange617, div#divAgeRange1829, div#divAgeRange3039, div#divAgeRange4049, div#divAgeRange5064, div#divAgeRange65 {
	width: 8em;
}

div#divStateEmergencyRelease, div#divFoodStampAssistance, div#divChildcareServices {
	width: 15em;
}

div#divLimitedHealthServicesReferral {
	width: 19em;
}

div#divAdditionalServices {
	margin: 1em 0;
	display: block;
	width: 90%;
}

div#divOtherNotes {
	display: block;
	width: 100%;
}

div#divCoatOrder {
	display: block;
}
	
div#divPreviousChristmasFoodYes, div#divPreviousChristmasFoodNo {
	width: 5em;
}
	
div#divCoatOrderDate {
	display: block;
}

div#divHeatShutoff, div#divLightShutoff, div#divWaterShutoff {
	width: 6em;
}

div#divOtherShutoff {
	width: 35em;
	margin: 0;
}

input[type=text]#OtherShutoff {
	width: 30em;
}

div#divTaxesDifficulty {
	width: 13em;
}

div#divForeclosureNotice, div#divLandlordEviction {
	width: 12em;
}

div#divOtherHousingIssue {
	width: 35em;
	margin: 0 0 1em 0;
}

input[type=text]#OtherHousingIssue {
	width: 30em;
}
	
}
/*end media query*/

th {
	padding: .25em .5em;
	white-space: nowrap;
}

table {
    border-collapse: collapse;
}

td.center {
	text-align: center;
}

td.whiteSpaceNoWrap {
	white-space: nowrap;
}

a.noLinkStyle:link {
    text-decoration: none;
    color: black;
}

/* visited link */
a.noLinkStyle:visited {
    text-decoration: none;
    color: black;
}

/* mouse over link */
a.noLinkStyle:hover {
    text-decoration: none;
}

/* selected link */
a.noLinkStyle:active {
    text-decoration: none;
}

ul.nav {
	font-family: sans-serif;
    list-style-type: none;
    margin: .5em 0 0 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
    border-radius: .5em;
	background-color: dimgray;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
	border: 2px solid black;
}

li.nav {
    float: left;
}

li.nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav a:hover {
    background-color: #111;
}