* {
    box-sizing: border-box;
} 

body {
	/*background-color: Beige;*/
	font-family: sans-serif;
}

header img {
	display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}

header h1 {
	display: inline-block;
	/*font-family: sans-serif;*/
	font-style: italic;
}

section {
	/*margin: auto;
    width: 80%;*/
    padding: 1em 0;
}

div.formStyle {
	margin: 1em 0;
	padding: 0.25em 1em 1.25em;
	border-radius: .5em;
	background-color: #f2f2f2;
	border: 2px solid dimgray;
}

div.overflow-x {
	overflow-x:auto;
}

div.displayInlineBlock {
	/*for update and delete buttons*/
	display: inline-block;
}

div.fieldWrapper{
	margin: .5em 0;
}

textarea {
	max-width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 1em;
}

label {
	font-size: 1em;
}

label.zipCode {
	display: block;
}

input[type=text], input[type=email], input[type=password], input[type=number] {
	font-size: 1em;
	padding: 4px;
    margin: .5em 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

input[type=text].zipCode {
	width: 5em;
}

input[type=text]#HomePhoneNumber {
	width: 9em;
}

input[type=text]#CellPhoneNumber {
	width: 9em;
}

input[type=text].dateTextLength {
	width: 6em;
}

input[type=number] {
	width:50px;
}
/*for age in table*/
input[type=number].rightLeftMargin {
	margin: 0 .5em;
}

select {
	font-size: 1em;
	margin: 0 .5em;
}

select.clientDropDown {
	margin: 0 0 .5em 0;
}

input[type=submit]{
	font-size: 1em;
	padding: .1em 0;
	margin: .25em;
}

@media only screen and (min-width: 800px) {

div.fieldWrapper {
	display: inline-block;
	width: 30%;
	padding: 0 1em 0 0;
}

div.fieldWrapper.checkBox {
	width: 20%;
}

div.fieldWrapper#firstName {
	width: 19%;
}

div.fieldWrapper#lastName {
	width: 20%;
}

div.fieldWrapper.checkBox#pregnant {
	width: 15%;
}

div.fieldWrapper.checkBox#addressVerified {
	width: 20%;
	padding: 0;
}

div.fieldWrapper#age {
	width: 8%;
}

div.fieldWrapper#gender {
	width: 17%;
}

div.fieldWrapper#address {
	width: 25%;
}

div.fieldWrapper#address2 {
	width: 15%;
}

div.fieldWrapper#zipCode {
	width: 60%;
}

div.fieldWrapper#homePhoneNumber {
	width: 20%;
}

div.fieldWrapper#cellPhoneNumber {
	width: 20%;
}
	
}
/*end media query*/

th {
	padding: .25em .5em;
	white-space: nowrap;
}

table {
    border-collapse: collapse;
}

td.center {
	text-align: center;
}

td.whiteSpaceNoWrap {
	white-space: nowrap;
}

a.noLinkStyle:link {
    text-decoration: none;
    color: black;
}

/* visited link */
a.noLinkStyle:visited {
    text-decoration: none;
    color: black;
}

/* mouse over link */
a.noLinkStyle:hover {
    text-decoration: none;
}

/* selected link */
a.noLinkStyle:active {
    text-decoration: none;
}

ul.nav {
	font-family: sans-serif;
    list-style-type: none;
    margin: .5em 0 0 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
    border-radius: .5em;
	background-color: dimgray;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
	border: 2px solid black;
}

li.nav {
    float: left;
}

li.nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav a:hover {
    background-color: #111;
}